<div class="bg-image">
  
    <app-navbar2></app-navbar2>
    <br><br>

    <h3 style="margin-left: 850px;">Add a New Note</h3>
    <h5 style="text-align: center; font-size: 22px; color: red; font-weight: 200;">Kindly ensure that the data is correct to the best of your knowledge.</h5>
    <br>

    <div>
        <div class="submit-form">
          <div *ngIf="!submitted" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding: 20px; border-radius: 30px; background: goldenrod;">

            <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Date :</label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <input type="date"
                      class="form-control text-start"
                      id="dt"
                      required
                      [(ngModel)]="note.note_date"
                      name="date"
                      placeholder="example - 2022-08-30" 
                />
              </div>
      
              <br>
      
              <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Student/Group :</label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <input type="text"
                      class="form-control"
                      id="stnm"
                      required
                      [(ngModel)]="note.student_name"
                      name="student name"
                />
              </div>
      
              <br>
      
              <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Class :</label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <input type="text"
                      class="form-control"
                      id="cl"
                      required
                      [(ngModel)]="note.student_group"
                      name="class"
                />
              </div>
      
              <br>
      
              <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Teacher :</label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <input type="text"
                      class="form-control"
                      id="tnm"
                      required
                      [(ngModel)]="note.teacher_name"
                      name="teacher name"
                />
              </div>
      
              <br>
      
              <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Activity :</label>
                &#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <input type="text"
                      class="form-control"
                      id="aty"
                      required
                      [(ngModel)]="note.activity_description"
                      name="activity"
                />
              </div>
      
              <br>
      
              <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Mark or Score :</label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <input type="text"
                      class="form-control"
                      id="ms"
                      required
                      [(ngModel)]="note.mark_or_score"
                      name="mark or score"
                />
              </div>
      
              <br>
      
              <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
                <label for="">Comment :</label>
                &#160; &#160; &#160; &#160; &#160;&#160;&#160;&#160;
                <textarea name="comment" id="cmt" cols="40" rows="6"
                  required
                  [(ngModel)]="note.comments"
                >
                </textarea>
              </div>
            <br>
            
            <div class="text-center">
              <button (click)="saveNote()" class="btn btn-success">Submit</button>
            </div>
          </div>

          <div *ngIf="submitted" class="text-center">
            <h4 style="font-size: 14px;">The Note was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newNote()">Add Another Note</button>
          </div>
        </div>
    </div>

    <br><br><br>


</div>

<app-footer></app-footer>