<div *ngIf="viewMode; else editable" style="width: 350px; margin-left: 160px; margin-top: 20px;">
  <div *ngIf="currentNote.id" style="box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; padding: 15px; background-color: aliceblue; opacity: 0.6; height: 450px; border-radius: 15px; overflow: scroll;">
    <h4 style="color: orange; text-align: center;">Note Details</h4>
    <br>

    <div>
      <label><strong>Date:</strong></label>
      <br>
      <p style="text-align: end;">
        {{ currentNote.note_date }}
      </p>
    </div>
    

    <div>
      <label><strong>Student:</strong></label>
      <br>
      <p style="text-align: end;">
        {{ currentNote.student_name }}
      </p>
    </div>
    

    <div>
      <label><strong>Class:</strong></label> 
      <br>
      <p style="text-align: end;">
        {{ currentNote.student_group }}
      </p>
    </div>
    

    <div>
      <label><strong>Teacher:</strong></label> 
      <br>
      <p style="text-align: end;">
        {{ currentNote.teacher_name }}
      </p>
    </div>
    

    <div>
      <label><strong>Activity:</strong></label> 
      <br>
      <p style="text-align: end;">
        {{ currentNote.activity_description }}
      </p>
    </div>
    

    <div>
      <label><strong>Mark or Score:</strong></label> 
      <br>
      <p style="text-align: end;">
        {{ currentNote.mark_or_score }}
      </p>
    </div>
    

    <div>
      <label><strong>Comments:</strong></label> 
      <br>
      <p style="text-align: start;">
        {{ currentNote.comments }}
      </p>
    </div>
    

    <div class="text-center">
      <button class="btn btn-success p-1">
        <a
        routerLink="/notes/{{ currentNote.id }}" style="font-size: 14px; text-decoration: none !important; color: #fff !important;">
        Edit Note
      </a>
      </button>
    </div>
  </div>
</div>
<br> <br> <br>
  
<div *ngIf="!currentNote">
  <br />
  <p>Please click on a Note...</p>
</div>

<div *ngIf="currentNote.id" style="margin-left: 1050px;">
<h4 *ngIf="!viewMode" style="margin-top: -950px; font-size: 32px;">You are Editing 
  <br>
  <span style="color: pink; font-style: italic; font-size: 42px;">{{currentNote.student_name}}</span>
</h4>
</div>

<ng-template #editable>
  <app-navbar2></app-navbar2>
  <br><br>
  <h5 style="text-align: center; font-size: 22px; color: red; font-weight: 200;">Kindly ensure that the data is correct to the best of your knowledge.</h5>
  <br>

  <div *ngIf="currentNote.id" class="edit-form" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding: 40px; background-color:chocolate; margin-left:425px; margin-top: 20px;">
    

    <form>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Date :</label>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <input type="date"
              class="form-control"
              id="dt"
              required
              [(ngModel)]="currentNote.note_date"
              name="date"
              placeholder="example - 2022-08-30" 
        />
      </div>

      <br>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Student/Group :</label>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <input type="text"
              class="form-control"
              id="stnm"
              required
              [(ngModel)]="currentNote.student_name"
              name="student name"
        />
      </div>

      <br>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Class :</label>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <input type="text"
              class="form-control"
              id="cl"
              required
              [(ngModel)]="currentNote.student_group"
              name="class"
        />
      </div>

      <br>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Teacher :</label>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <input type="text"
              class="form-control"
              id="tnm"
              required
              [(ngModel)]="currentNote.teacher_name"
              name="teacher name"
        />
      </div>

      <br>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Activity :</label>
        &#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <input type="text"
              class="form-control"
              id="aty"
              required
              [(ngModel)]="currentNote.activity_description"
              name="activity"
        />
      </div>

      <br>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Mark or Score :</label>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <input type="text"
              class="form-control"
              id="ms"
              required
              [(ngModel)]="currentNote.mark_or_score"
              name="mark or score"
        />
      </div>

      <br>

      <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-end">
        <label for="">Current Comment :</label>
        &#160; &#160; 
        <textarea name="comment" id="cmt" cols="40" rows="6"
          required
          [(ngModel)]="currentNote.comments"
        >
        </textarea>
      </div>
      
    </form>

    <br>

    <button class="btn btn-danger p-2" (click)="deleteNote()" style="font-size: 14px;">
      Delete Note
    </button>

    &#160; 
    
    <button
      type="submit"
      class="btn btn-info p-2"
      (click)="updateNote()"
      style="font-size: 14px;"
    >
      Update Note
    </button>
    <br>

    <p>{{ message }}</p>
  </div>

  <br><br>
  <hr>
  <br><br>

  <app-footer></app-footer>

  <div *ngIf="!currentNote.id">
    <br />
    <p>Cannot access this Note...</p>
  </div>

</ng-template>



