<body>

   <!-- <div>
        <button  class="btn btn-info" style="width: 8%;" routerLink="/home">Go Back Home</button>
   </div> -->
    
    <form  class="mx-auto my-auto" #loginForm="ngForm" (submit)="authoriseTeachers(loginForm.value)">
        <div class="imgcontainer">
            <img style="width: 450px; height: 150px; cursor: pointer;" src="/assets/img/Lehrerin Logo.png" routerLink="/home" alt="">
        </div>

        <h4 class="text-center" style="font-weight: 300;">Login to your account</h4>
      
        <div class="container">
          <label for="uname" style="font-weight: bold;">Username</label>
          <input type="text" placeholder="Enter Username" name="username" ngModel>
      
          <label for="psw" style="font-weight: bold;">Password</label>
          <input type="password" placeholder="Enter Password" name="password" ngModel>

          <div class="form-check form-switch py-1 d-flex justify-content-start">
                <input class="form-check-input ml-auto" 
                    type="checkbox" 
                    role="switch" 
                    id="flexSwitchCheckDefault" 
                    style="transform: scale(1.2);"
                >
                &#160; &#160;
                <label class="form-check-label" 
                    for="flexSwitchCheckDefault" 
                    id="AucTu">
                    Remember me
                </label>

                <div class="ms-auto">
                    <span class="psw">Forgot &#160; <a href="#" style="color: #fff;">password?</a></span>
                </div>
           </div>
                
          <div class="container d-flex justify-content-center mt-0">
            <button type="submit" class="btn btn-success" style="width: 35%;">Login</button>
            <button type="button" class="cancelbtn" style="width: 35%;">Cancel</button>
          </div>
        </div> 
    </form>
    <br>
    
    <app-footer></app-footer>

</body>
